* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
  }

  .montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .montserrat-alternates-medium {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .montserrat-alternates-extrabold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  :root {
      --cream: #FFF2D8;
      --tan: #EAD7BB;
      --beige: #BCA37F;
      --green: #113946;
      --red: #6d0000;
      --primary-font: "Montserrat Alternates", sans-serif;
  }

  body {
      background: var(--green);
      color: var(--cream);
      font-family: var(--primary-font);
    }

h1 {
    color: var(--cream);
}