* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
      --cream: #FFF2D8;
      --tan: #EAD7BB;
      --beige: #BCA37F;
      --green: #113946;
      --mauve: #915F6D;
      --primary-font: "Montserrat", sans-serif;
      --secondary-font: "Montserrat Alternates", sans-serif;
  }

  body {
    background: var(--green);
    color: var(--cream);
}

body p,
body li {
    font-family: var(--primary-font);
    padding-bottom: 20px;
}

body ul {padding-left: 40px;}

body a {color: var(--cream);}

.main-container {padding: 20px;}

h1,
h2 {
    color: var(--cream);
    font-family: var(--secondary-font);
    padding-bottom: 20px;
}

.main-container iframe .form__Root-sc-19pinwh-0.hHOZpn {border-top: 3px solid var(--mauve);}

.main-container iframe .Root-sc-__sc-1ndopc5-3.gfRTxr {display: none;}

.main-container iframe .LayoutWrapper-sc-__sc-1ndopc5-2.ftHTbG {justify-content: center;}

.main-container iframe .time-to-complete-labelled-icon {color: var(--cream);}

.main-container iframe button.start-button {
    background: var(--mauve);
    color: var(--cream);
    font-family: var(--primary-font);
}

@media (min-width: 768px) {

    .main-container {padding: 40px;}

}